.messageBox {
    background: #F3F3F3;
    /* border-radius: 20px; */
    padding: 10px 20px 10px 10px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
    padding: 5px 0px;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }
  
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: #2979FF;
    border-radius: 20px 20px 0px 15px;
  }
  
  .backgroundLight {
    background: #b9b5b5;
    border-radius: 20px 20px 15px 0px;
  }
  .remove-message{
    background: none;
    border: none;
    font-size: 18px;
    margin-right: 30px;
  }
  .remove-message:hover{
    color: rgb(235, 18, 18);
    cursor: pointer;
  }