.join {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }
  .login {
    width: 30%;
    min-width: 300px;
    border-radius: 5px;
    padding: 20px 10px;
  }
